/* ===== Общие стили ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #f4f4f4;
}

/* ===== Header ===== */
header {
    background-color: #003366;
    padding: 20px;
}

/* ===== Navigation ===== */
nav {
    background-color: #0055a5;
    padding: 10px;
    display: inline-block;
    width: 80%;
}

/* ===== Main content ===== */
main {
    background-color: #ffffff;
    font-size: 1.1em;
    padding: 20px;
}

/* ===== Footer ===== */
footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

/* ===== List items ===== */
/*li {
    display: inline-block;
    width: 150px;
}
*/
/* ===== Headings ===== */
h1 {
    text-align: center;
    font-family: "Georgia", serif;
    color: #ffffff;
}

/* ===== Paragraphs ===== */
p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    left: 10px;
}

nav img {
    width: 10%;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}


.grid img {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
